table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

#studentsForm tr:nth-child(even), #studentsTable tr:nth-child(even){
  background-color: #f2f2f2;
}

#studentsForm tr:hover, #studentsTable tr:hover {
  background-color: #ddd;
}

#studentsForm th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
#studentsForm td {
  padding-right: 20px;
  padding-left: 20px;
}

input {
  width: 100%;
  height: 40px;
  padding: 10px;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button-add {
  background-color: #4CAF50;
}

.button-update {
  background-color: #008CBA;
}

.button.button-reset {
  background-color: #f44336;
}

input + .warning {
  color: red;
  width: 100%;
  margin-top: 5px;
  text-align: left;
  font-size: 12px;
  height: 18px;
  text-align: right;
}


.link {
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}

.link-edit {
  color: blue;
}

.link-delete {
  color: red;
}
